/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    --orange: #ff6900;
    --sales: #ff0000;
    --sustainability: #008000;

    --space-xxsmal: 5px;
    --space-small: 15px;
    --space-large: 30px; 
}




/* Generics */
body {
    padding-top: 100px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* Utilties */
.conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

img {
    max-width: 100%;
}


/* Header */

header {
background: #ff6900;
height: 70px;
width: 100%;
padding: var(--space-small);
margin-bottom: var(--space-large);
position: fixed;
top: 0;
left: 0;
display: flex;
box-shadow: 0px 0px 10px 0px grey;
}


nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

nav ul {
    list-style-type: none;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
    color: white;
    margin: var(--space-xxsmal);
}

.logo {
    height: 40px;
    display: block;
}

.icon {
    font-size: 24px;
    margin: 0 var(--space-xxsmal);
}

/* Main */
.heart {
    font-size: 2rew;
}

/* Footer */